.form{
    display: flex;

    &-input{
        background-color: #1c4814;
        padding: .8rem;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        outline:none;
        border-radius: 5px;
        width: 30rem;
        border: 0;
    }

    &-button{
        background-color: rgb(141, 217, 59);
        color: white;
        outline:none;
        cursor: pointer;
        border-radius: 5px;
        padding: .8rem;
        font-size: 1rem;
        font-weight: bold;
        width: 15rem;
        border: 0;


        &:hover{
            background-color:rgb(100, 234, 192);
        }
    }
}